body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: indianred;
}

#nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-form {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

label {
  display: block;
}

#search-input {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#hero {
  background-image: url("https://live.staticflickr.com/8334/8092439985_3133a14e78_b.jpg");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  border-bottom-right-radius: 25px;
}

#hero h1,
#hero-text {
  text-align: center;
  left: 50%;
}

#hero div {
  transform: translate(0, 150%);
}

.headline {
  text-align: center;
}

.listed-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-movie {
  background-color: lightgrey;
  padding: 15px;
  margin: 20px;
  font-size: small;
  border-bottom-right-radius: 25px;
}

.individual-movie p{
  inline-size: 150px;
}

.individual-movie:hover{
  background-color: indianred;
}

button {
  background-color: indianred;
  color: white;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-color: indianred;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.external-link {
  text-decoration: underline;
}

.external-link:hover {
  color: indianred;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  border-bottom-right-radius: 25px;
}

.image-and-add {
  display: flex;
  flex-direction: column;
}

.text-and-link {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.text-and-link button {
  margin-top: 25px;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-form-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-form-details button {
  align-self: flex-end;
}

.notes-field {
  padding-top: 0;
  padding-left: 0;
  width: 400px;
  height: 200px;
  resize: none;
}

.listed-user-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-user-movie {
  display: flex;
  background-color: lightgrey;
  padding: 15px;
  margin: 20px;
  border-bottom-right-radius: 25px;
}

#indiv-user-movie-text {
  display:flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
}

#indiv-user-movie-text h3 {
  inline-size: 80%;
}

#user-notes {
  inline-size: 300px;
}

#user-movie-button {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
}

#user-movie-button button {
  margin: 20px;
}

button:hover {
  color: indianred;
  background-color: white;
}

.TMDB-footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
}

@media only screen and (max-width: 600px) {
  #nav {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #hero {
    background-image: url("https://live.staticflickr.com/8334/8092439985_3133a14e78_b.jpg");
    height: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    border-bottom-right-radius: 25px;
  }

  #hero h1,
#hero-text {
  text-align: center;
  left: 50%;
  font-size: medium;
}

#hero div {
  transform: translate(0, 30%);
}

.movie-details {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 25px;
  background-color: lightgray;
  align-items: center;
  padding-top: 15px;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-form-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.movie-form-details button {
  align-self: flex-end;
}

.notes-field {
  padding-top: 0;
  padding-left: 0;
  resize: none;
  width: auto;
}

.listed-user-movies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.individual-user-movie {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 15px;
  margin: 30px;
  border-bottom-right-radius: 25px;
}

.individual-user-movie img {
  align-self: center;
}

}
